<style>
    .grid{
        width: 600px;
        height: 400px;
    }
    .link_on{
     background:#c8e1fa; 
     border:1px solid #5c93cb; 
     border-radius:3px;
    }
    a.link_on:hover{
    text-decoration: none;
    }
    a {
    padding:4px 6px; 
    font-size:14px; 
    color:#000;
    }
    
</style>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">ProjectName</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">控制面板</a></li>
                <li><a href="#">个人设置</a></li>
                <li><a href="#">帮助</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row" style="margin-top:50px;">
        <div class="col-md-1">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview</a></li>
                <li><a href="#">报告</a></li>
                <li><a href="#">分析</a></li>
                <li><a href="#">导出</a></li>
            </ul>
        </div>
        <div class="col-md-11" style="padding-left:0px;">
            <div class="page-header">
                过滤条件 <a ng-click="getToday()" href="#" ng-class="linkToday">当天</a> <a ng-click="getWeek()" href="#" ng-class="linkWeek">一周内</a>
            </div>
            <div class="col-md-6">
                <div ui-grid="grid1" ui-grid-pagination class="grid"></div>
                <br/><br/>
            </div>
            <div class="col-md-6" style="margin-top:-50px;">
                <div id="mainChart" style="height: 600px;"></div>
            </div>
        </div>
    </div>
</div>




